body {
  background-color: #222222;
}

#sign {
  width: 100%;
  padding: 2%;
  text-align: center;
}

.neon-contents {
  margin: 1%;
  font-size: 10em;
  color: #fff;
  font-family: 'Comic Sans MS', sans-serif;
  animation: neon 2s ease-in-out infinite alternate;
}

.neon-icons{
  font-size: 5em;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #88ccac, 0 0 80px #88ccac, 0 0 90px #88ccac, 0 0 100px #88ccac, 0 0 110px #88ccac;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #88ccac, 0 0 40px #88ccac, 0 0 45px #88ccac, 0 0 50px #88ccac, 0 0 55px #88ccac;
  }
}
